{% extends "index.html" %}
{% block title %}Scholar Trail - Home{% endblock title %}
{% block content %}
{% if messages %}
  {% for message in messages %}
        <div id="enroll-message" {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %} role="alert">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERRORS %} Important: {% endif %}
            {{ message }}
        </div>
  {% endfor %}     
{% endif %}
{% if thumbnails %}
<section class="home-slider owl-carousel bg-danger">
  {% for thumbnail in thumbnails %}
  <div class="slider-item" style="background-image:url('{{thumbnail.background_image.url}}'); ">
    <div class="overlay bg-danger"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate">
        <h1 class="mb-4">{{thumbnail.title_name}}</h1>
        <p>{{thumbnail.sub_title}}</p>
        <p><a href="#contact-us"  class="btn btn-primary px-4 py-3 mt-3" >Contact Us</a></p>
      </div>
    </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}

   <section class="ftco-section ftco-counter img bg-danger" id="section-counter" style="background-image: url();" data-stellar-background-ratio="0.5">
    <div class="container">
    		<div class="row justify-content-center mb-5  d-flex">
          <div class="col-md-6 heading-section heading-section-white ftco-animate">
            <h2 class="text-center">Why Choose Us</h2>
          </div>
        </div>	
    <div class="container container-choose-us">    
        <div class="row d-md-flex align-items-center justify-content-center">
            <!-- First Row: Students and Certified Teachers -->
            <div class="col-lg-12">
            <div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="text pl-3">
										<h3 class="text-white font-weight-bolder">Expert Guidance for Multiple Exams</h3>
										<p class="text-white-50">Our team of highly qualified tutors, led by the dynamic Jesika, is well-versed in the nuances of exams such as GRE, GMAT, PTE, TOEFL, and IELTS. We provide targeted guidance and strategies to help you navigate the unique challenges of each test.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="text pl-3">
									<h3 class="text-white font-weight-bolder">Focused Coaching for Success</h3>
										<p class="text-white-50">Our team focuses on honing the skills necessary for success in foreign entrance examinations, be it analytical thinking for GRE, quantitative reasoning for GMAT, or language proficiency for PTE, TOEFL, and IELTS.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="text pl-3">
										<h3 class="text-white font-weight-bolder">Customized Exam Preparation</h3>
										<p class="text-white-50">Recognizing that each exam has its distinct format and requirements, our coaching is specifically designed to address the nuances of GRE’s analytical writing, GMAT’s integrated reasoning, PTE’s speaking section, TOEFL’s listening comprehension, and IELTS’s academic writing, among others.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="text pl-3">
										<h3 class="text-white font-weight-bolder">Proven Results Across Exams</h3>
										<p class="text-white-50">Our success stories extend across a spectrum of foreign entrance examinations. Many students have not only met but exceeded their score goals, unlocking doors to international education and career opportunities..</p>
									</div>
								</div>
							</div>
						</div>
        </div>
    </div>
</section>

{% if courses %}
    <section id="course-section" class="ftco-section">
        <div class="container-fluid px-4">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4"><span>Our</span> Courses</h2>
                </div>
            </div>
            <div class="row">
                {% for course in courses %}
                <div class="col-md-4 col-sm-12 course d-flex justify-content-center ftco-animate text-center">
                    <div class="card d-flex align-items-stretch" style="width: 18rem;">
                        <img src="{{course.image.url}}" class="card-img-top" style="object-fit: contain; height: 191px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{course.product_name}}</h5>
                            <p class="card-text">{{course.description}}</p>
                            <!-- Button to trigger the modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-dialog">Enroll Now</button>
                        </div>
                    </div>
                </div>
                <!-- {% for teacher in teachers %}
                <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch" height="191px" width="286px">
                      <div class="img align-self-stretch" style="background-image: url('{{teacher.profile_picture.url}}');"></div>
                    </div>
                    <div class="text pt-3 text-center">
                      <h3>{{teacher.name}}</h3>
                      <span class="position mb-2">{{teacher.position}}</span>
                      <div class="faded">
                        <p>{{teacher.short_description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %} -->
                <!-- Modal -->
                <div class="modal fade" id="modal-dialog" tabindex="-1" aria-labelledby="modal-dialog-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-dialog-label">Enroll Now</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Your form elements go here -->
                                <form id="course_enroll_form-{{course.id}}" method="POST" action="{% url 'course_enroll' course.id %}">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

       <section class="hero-wrap hero-wrap-2 " style="background-image: url('images/bg_1.jpg');background-color:#b82632;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h3 class="mb-2 bread">Exploring Beyond the Classroom</h3>
            <p class="text-white font-weight-bolder">Curious about my life beyond teaching? Here’s a sneak peek:</p>
            <p class="text-white-50">When I’m not curating materials for my students or nurturing this website, you might find me amid an invigorating jog, sharing playful moments with delightful canine companions, or embarking on exhilarating adventures to picturesque hilltops with cherished friends</p>
          </div>
        </div>
      </div>
    </section>

{% if teachers %}
<section id="trainers-section" class="ftco-section bg-light">
			<div class="container-fluid px-4">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Our Trainers</h2>
          </div>
        </div>	
				<div class="row">
          {% for teacher in teachers %}
          <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch" height="191px" width="286px">
								<div class="img align-self-stretch"  style="background-image: url('{{teacher.profile_picture.url}}');"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>{{teacher.name}}</h3>
								<span class="position mb-2">{{teacher.position}}</span>
								<div class="faded">
									<p>{{teacher.short_description}}</p>
	              </div>
							</div>
						</div>
					</div>
          {% endfor %}
				</div>
			</div>
		</section>
{% endif %}



<section class="ftco-section ftco-counter img bg-danger"  id="about-us"  style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    	<div class="container" >
    		<div class="row justify-content-center  pb-2 d-flex">
    			<div class="col-md-6 py-5 ">
            {% comment %} <div class="heading-section heading-section-white ftco-animate mb-5">
            <h2 class="mb-4">Exploring Beyond the Classroom</h2>
            <p>Curious about my life beyond teaching? Here’s a sneak peek:</p>
            <p>When I’m not curating materials for my students or nurturing this website, you might find me amid an invigorating jog, sharing playful moments with delightful canine companions, or embarking on exhilarating adventures to picturesque hilltops with cherished friends.</p>
          </div> {% endcomment %}
    				<div class="">
              
		          <div class="heading-section heading-section-white ftco-animate mb-5">
		            <h2 class="mb-4">Stay In Touch</h2>
		          </div>
		          <form action="#" class="appointment-form ftco-animate">
		    				<div class="d-md-flex">
			    				<div class="form-group">
			    					<input type="text" class="form-control" placeholder="First Name">
			    				</div>
			    				<div class="form-group ml-md-4">
			    					<input type="text" class="form-control" placeholder="Last Name">
			    				</div>
		    				</div>
		    				<div class="d-md-flex">
		    					<div class="form-group ml-md-4">
			    					<input type="text" class="form-control" placeholder="Phone">
			    				</div>
		    				</div>
		    				<div class="d-md-flex">
		    					<div class="form-group">
			              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
			            </div>
			            <div class="form-group ml-md-4">
			              <input type="submit" value="Request A Quote" class="btn btn-primary py-3 px-4">
			            </div>
		    				</div>
		    			</form>
		    		</div>
    			</div>
          <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
            <h2 class="mb-4">About Us</h2>
            <p>Welcome to My World! I'm Jesika, your guide on an exciting journey of English education. Once an engineer at Infosys, I discovered my true passion for teaching, particularly in IELTS and Spoken English.</p>
            <p>My career transitioned into a vibrant tapestry of tutoring, and what drives me is the limitless potential of online teaching. Embracing technology, I connect with English enthusiasts worldwide through platforms like Skype, blending tradition with innovation.</p>
            <p>Currently, my focus is on online IELTS coaching, where I passionately assist individuals in mastering English and acing their exams. The future holds boundless possibilities, as I constantly brainstorm ideas to provide even more value. Stay tuned for what's on the horizon!</p>
          </div>
        </div>	
    	</div>
    </section>


<footer id="contact-us" class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Contact Us</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Sector 8C, Madhya Marg, Chandigarh 160009</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+919988094693, +917719707307</span></a></li>
	                <li><a href="mailto:info@scholartrail.org"><span class="icon icon-envelope"></span><span class="text">info@scholartrail.org</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              {% for blog  in blogs  %}
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url('{{ blog.image.url }}');"></a>
                <div class="text">
                  <h3 class="heading"><a href="{% url 'blog_detail' blog.id %}">{{blog.content|truncatechars:20}}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> {{blog.created_at|date:"F"}} {{blog.created_at|date:"d"}}, {{blog.created_at|date:"Y"}}</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> {{blog.blog_comments.count}}</a></div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
            	<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <style>
  .card {
    width: 18rem;
    transition: box-shadow 0.3s ease;
  }

  .card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
  }
</style>



{% if messages %}
<script>
  setTimeout(function(){
  $('#enroll-message').fadeOut('slow');
  }, 4000);
</script>
{% endif %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock content %}



